.ui-multilayered-select {
  height: 18px;
  width: calc( 100% - 6px ) !important;
  padding-left: 4px;
  font-size: 14px;

  position: relative;

  border: 1px solid var(--border);
  background-color: var(--bg-elem);

  transition: .15s;

  user-select: none;

  &::after {
    font-family: 'MingCute' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    content: "\f28f";
    
    position: absolute;
    right: 5px;
    top: 2px;
    
    transition: .15s;

    transform: rotate(0deg);

    height: 10px;
    width: 10px;
  }

  .options {
    position: absolute;
    top: 18px;
    left: -1px;
    min-width: calc( 100% - 8px );

    border: 1px solid var(--border);
    background-color: var(--bg-elem);
    padding: 5px 4px;

    display: none;
    flex-direction: column;
    gap: 5px;

    z-index: 3;

    &[data-reversed="true"] {
      top: 0;

      transform: translate(0, -100%);
    }

    .option {
      transition: .15s;

      &:hover:not(:disabled) {
        background-color: var(--bg);
      }
    }

    .group {
      position: relative;

      display: flex;
      flex-direction: column;
      gap: 5px;

      padding-right: 20px;

      transition: .15s;

      &::after {
        font-family: 'MingCute' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        
        content: "\f28f";
        
        position: absolute;
        right: 2px;

        height: 10px;
        width: 10px;
      }

      > .contains {
        position: absolute;

        transition: .15s;

        display: none;
        flex-direction: column;
        gap: 5px;

        min-width: 200px;

        border: 1px solid var(--border);
        background-color: var(--bg-elem);
        padding: 5px 4px;

        right: 0;
        top: -5px;
        transform: translate(100%, 0);
      }

      &:hover:not(:disabled) {
        background-color: var(--bg);

        > .contains {
          display: flex;
        }
      }
    }
  }

  &[data-active="true"] {
    .options {
      display: flex;
    }

    &::after {
      transform: rotate(90deg);

      right: 1px;
      top: 2px;
    }
  }
}