.ui-accordeon {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;

  > label {
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;

    padding: 4px 20px 4px 0px;

    cursor: pointer;
    > * { cursor: pointer; }

    &::after {
      font-family: 'MingCute' !important;
      speak: never;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      
      content: "\eff7";
      position: absolute;

      transition: .15s;

      right: 0;
    }
  }

  > .contains {
    max-height: 0px;
    overflow: hidden;

    transition: .15s;
  }



  &[data-active="true"] {
    > label::after {
      transform: rotate(-90deg);
    }

    > .contains {
      max-height: var(--mx);
    }
  }
}