.main-controls {
  height: 50px;
  width: fit-content;

  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);

  background-color: var(--bg);
  border: 1px solid var(--border);

  padding: 10px;

  display: flex;
  flex-direction: row;
  gap: 10px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    background-color: var(--bg-elem);
    border: 1px solid var(--border);

    color: var(--main);
    font-size: 12px;

    transition: .15s;

    &:hover:not(:disabled) {
      transform: scale(1.05);
    }

    &:active:not(:disabled) {
      transform: scale(0.95);
    }

    &:disabled {
      cursor: not-allowed;

      filter: brightness(0.6);
    }
  }


  .step-logs {
    position: absolute;

    display: grid;
    --height: 230px;
    grid-template-rows: 30px var(--height) 40px;

    right: -10px;
    bottom: 0;

    width: 500px;
    max-height: 300px;
    height: 300px;

    background-color: var(--bg);
    border: 1px solid var(--border);

    transition: .2s;

    transform: translate(100%, 0);

    .step-logs-hide {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3px 7px;

      box-sizing: border-box;
      background-color: var(--bg-elem);
      border-bottom: 1px solid var(--border);

      span {
        transition: .15s;
      }

      &:hover {
        filter: brightness(0.9);
      }

      &:active {
        filter: brightness(0.7);
      }
    }

    .chat-container {
      width: 100%;
      height: 100%;

      box-sizing: border-box;

      border-bottom: 1px solid var(--border);
      
      display: flex;
      flex-direction: column;
      gap: 5px;

      padding: 5px 10px;
      overflow-y: scroll;

      > p {
        display: grid;
        grid-template-columns: max-content 1fr;

        margin: 0;

        span {
          text-align: end;
          color: var(--border);
        }

        label {
          grid-column: 1 / 3;
        }
      }
    }

    &[data-active="false"] {
      --height: 0px;
      max-height: 70px;

      .chat-container {
        padding: 0;
      }

      .step-logs-hide span {
        transform: rotate(180deg);
      }
    }
  }
}