@import url(./map.css);
@import url(./tab-controls.css);
@import url(./main-controls.css);
@import url(./modals.css);
@import url(./relative.css);

:root {
  --bg: black;
  --bg-elem: rgb(29, 29, 29);

  --main: white;

  --border: rgb(95, 95, 95);

  --velocity: rgb(0, 225, 255);
  --direction: rgb(255, 0, 0);

  --hud: rgb(255, 255, 255);
}

body {
  margin: 0;

  color: var(--main);
  font-family: Consolas;
}