@import url(./map.css);
@import url(./tab-controls.css);
@import url(./main-controls.css);
@import url(./modals.css);
@import url(./relative.css);
@import url(./loading.css);

:root {
  --bg: black;
  --bg-elem: rgb(29, 29, 29);

  --main: white;
  --accent: lime;

  --border: rgb(95, 95, 95);

  --velocity: rgb(0, 225, 255);
  --direction: rgb(255, 0, 0);

  --hud: rgb(255, 255, 255);

  --hud-temperature: rgb(228, 0, 0);
  --hud-power: rgb(70, 255, 70);
  --hud-barrier: rgb(0, 255, 213);
  --hud-armor: rgb(255, 145, 0);
  --hud-hull: rgb(155, 155, 155);
}

body {
  margin: 0;

  color: var(--main);
  font-family: Consolas;
}

button, input, select {
  background-color: var(--bg-elem);
  border: 1px solid var(--border);
  color: var(--main);

  &:disabled {
    filter: brightness(0.5);
  }
}

button, select {
  cursor: pointer;
}


input[type="file"] {
  display: none;
}

label:has(> input[type="file"]) {
  border: 1px solid var(--border);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}