.map {
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--bg);

  position: relative;

  canvas {
    position: absolute;
    top: 0;
    left: 0;

    border: 1px solid var(--border);

    width: 100%;
    height: 100%;

    box-sizing: border-box;
  }
}