.relative {
  position: fixed;

  bottom: 50%;
  right: 0px;
  transform: translate(100vw, 50%);

  transition: .15s;

  width: 300px;
  height: fit-content;

  padding: 10px;

  background-color: var(--bg);
  border: 1px solid var(--border);

  &[data-active="true"] {
    right: 0px;
    transform: translate(0, 50%);
  }

  > button {
    position: absolute;

    width: 25px;
    height: 25px;
    font-size: 15px;

    padding: 4px;

    top: -20px;
    right: 5px;
  }

  > div {
    position: relative;

    width: 100%;
    height: 100%;
    padding-right: 5px;

    max-height: 80vh;
    overflow-y: auto;

    .contains {
      padding-left: 10px;

      .id-select-hyperlink {
        cursor: pointer;
        text-decoration: underline;

        transition: .15s;

        &:hover {
          transform: scale(1.1);
          text-decoration: none;
        }
      }

      .values {
        display: grid;
        grid-template-columns: 1fr 1fr;

        label {
          font-weight: 700;
        }
      }
    }
  }
}