.relative {
  position: fixed;

  bottom: 50%;
  right: 0px;
  transform: translate(100vw, 50%);

  transition: .15s;

  width: 300px;
  height: fit-content;

  padding: 10px;

  background-color: var(--bg);
  border: 1px solid var(--border);

  &[data-active="true"] {
    right: 0px;
    transform: translate(0, 50%);
  }

  > div {
    position: relative;

    width: 100%;
    height: 100%;

    > button {
      position: absolute;

      top: -20px;
      right: -8px;
    }

    .contains {
      padding-left: 10px;

      .id-select-hyperlink {
        cursor: pointer;
        text-decoration: underline;

        transition: .15s;

        &:hover {
          transform: scale(1.1);
          text-decoration: none;
        }
      }

      .values {
        display: grid;
        grid-template-columns: 1fr 1fr;

        label {
          font-weight: 700;
        }
      }
    }
  }
}