.tab-controls {
  width: 30px;
  height: fit-content;

  position: fixed;
  bottom: 50%;
  left: 0;
  transform: translate(0, 50%);

  display: flex;
  flex-direction: column;

  button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    padding-left: 20px;
    height: 50px;
    transform: translate(-15px, 0);

    background-color: var(--bg-elem);
    border: none;

    outline: 1px solid var(--border);
    outline-offset: 0px;

    color: var(--main);
    font-size: 12px;

    transition: .15s box-shadow;
    transition: .15s transform;

    &:hover {
      transform: translate(-5px, 0);
      box-shadow: 0px 0px 10px 0px var(--bg);
      z-index: 1;
    }

    &:active, &[data-active="true"] {
      transform: translate(-17px, 0);
      box-shadow: 0px 0px 10px 0px var(--bg) inset;
    }
  }
}